<launch>
  <rosparam file="$(find fusion2urdf)/launch/urdf_rdy_ball_balancer_controller.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="urdf_rdy_ball_balancer" args="servo_1_position_controller elbow_1_position_controller ball_1_position_controller servo_2_position_controller elbow_2_position_controller servo_3_position_controller elbow_3_position_controller joint_state_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/urdf_rdy_ball_balancer/joint_states"/>
  </node>
</launch>
